/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    text-align: center;
}
svg{
    width: 50%;
}
#left_tyre, #right_tyre{
    animation: wheel 1s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}